.inputcolor {
  text-align: center;
  width: 100%;
}

.swatch {
  background: white;
  width: 100%;
  margin: 10px 0;
  padding: 4px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.color {
  width: 100%;
  height: 22px;
  border-radius: 2px;
  text-align: center;
}

.popover {
  position: absolute;
  z-index: 999;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}