.logo {
  display: inline-block;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 6rem;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -0.5rem;

  text-shadow: 4px 4px 4px rgba(10, 10, 10, 0.3);
}
